:root {
  font-family: "Geist Mono", system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accent-color: #41817e;
  --card-bg-color: #e6e6f6;
}

* {
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  /* min-height: 100%; */
  background-image: url('assets/bg.webp');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.divider {
  height: 1px;
  border-top: var(--accent-color) dotted 2px;
  margin: 12px 0;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


/* ///////////////////// Text ///////////////////// */
h1,
h2,
p,
a {
  margin: 0;
  padding: 0;
  color: var(--accent-color);
  font-size: 1rem;
}

a {
  text-decoration: none;
}

h1 {
  overflow: hidden;
  white-space: nowrap;
  width: fit-content;
  padding: 0px 8px;
  margin-bottom: 8px;
  font-family: 'Doto', serif;
  font-weight: 800;
  font-size: 1.8rem;
  color: var(--card-bg-color);
  background: var(--accent-color);
  border-right: 2px solid var(--card-bg-color);
}

h2 {
  margin-bottom: 8px;
  font-size: 1.2rem;
}

p {
  color: var(--accent-color);
  line-height: 1.3;
  margin-bottom: 8px;
}

button {
    font-family: "Geist Mono", system-ui, Avenir, Helvetica, Arial, sans-serif;
    cursor: pointer;
    border: none;
}

strong {
  font-weight: 700;
}

.card-category {
  transition: 1s ease;
  position: absolute;
  top: 10px;
  left: 10px;
  width: max-content;
  color: var(--accent-color);
  background: var(--card-bg-color);
  padding: 0px 8px;
  font-size: 0.9rem;
  font-weight: 500;
}

.pill {
  background: var(--accent-color);
  color: var(--card-bg-color);
  border-radius: 15px;
  width: fit-content;
  padding: 2px 8px;
  font-size: 0.8rem;
  margin: 4px 6px 4px 0;
  display: inline-block;
  transition: .5s cubic-bezier(0.5, 1.8, 0.3, 0.8);
}

.pill:hover {
  transform: scale(1.3) rotate(4deg);
}

::selection {
  background: var(--accent-color);
  color: var(--card-bg-color);
}

/* ///////////////////// Card Styles ///////////////////// */
.cards-stack {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  padding: 20vh 0;
}

.card {
  /* position: sticky; */
  top: 20vh;
  overflow: auto;
  height: 400px;
  width: 266px;
  border-radius: 15px;
  border-bottom: var(--accent-color) 20px solid;
  /* box-shadow: -14px 14px 6px rgba(0, 0, 0, 0.2); */
  margin: 16px auto;
  scroll-snap-align: center;
}

.card:not(.cover-card) {
  background: var(--card-bg-color);
}

.card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  display: block;
}

.card .card-content {
  padding: 15px;
  overflow: auto;
}

.cover-card {
  display: sticky;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border: var(--card-bg-color) 1px solid;
  border-bottom: var(--accent-color) 20px solid;
  box-shadow: -14px 14px 6px rgba(0, 0, 0, 0.2);

}

.cover-card .banner {
  height: 45%;
  border-radius: 15px 15px 0 0;
}

.cover-card .cover-content {
  height: 55%;
  width: 100%;
  padding: 30px 20px;
  background: var(--card-bg-color);
}

.cover-card img {
  margin: auto;
  display: block;
  position: relative;
  top: 20px;
  width: 120px;
  z-index: 10;
  filter: hue-rotate(-20deg) drop-shadow(4px 0px 3px rgba(0, 0, 0, 0.4));
  transition: .3s cubic-bezier(0.5, 1.8, 0.3, 0.8);
}

.cover-card img:hover {
  transform: scale(1.2);
}

.card .bunny-logo {
  width: 50px;
  margin-bottom: 1rem;
  transition: .5s cubic-bezier(0.5, 1.8, 0.3, 0.8);
}

.card .bunny-logo:hover {
  transform: rotate(1turn) scale(1.4);
}

.watermark {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 0.7rem;
  margin: 0;
}


.anim-typewriter {
  animation: typewriter 1s ease-out .25s 1 normal both;
}

@keyframes typewriter {
  from {
    width: 0px;
    padding: 0px 0px;
  }

  to {
    width: 150px;
    padding: 0px 8px;
  }
}