:root {
  font-family: "Geist Mono", system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accent-color: #6a42ef;
  --card-bg-color: #e6e6f6;
}

* {
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

#root {
  background-image: url('./assets/workspace.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

.divider {
  height: 1px;
  border-top: var(--accent-color) dotted 2px;
  margin: 12px 0;
}

/* ///////////////////// Text ///////////////////// */
h1,
h2,
p,
a {
  margin: 0;
  padding: 0;
  color: var(--accent-color);
  font-size: 1rem;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Doto', serif;
  font-weight: 800;
  font-size: 1.8rem;
  color: var(--card-bg-color);
  background: var(--accent-color);
  width: fit-content;
  padding: 0px 8px;
  margin-bottom: 8px;
}

h2 {
  margin-bottom: 8px;
  font-size: 1.2rem;
}

p {
  color: var(--accent-color);
  line-height: 1.3;
  margin-bottom: 8px;
}

.card-category {
  transition: 1s ease;
  position: absolute;
  top: 10px;
  left: 10px;
  width: max-content;
  color: var(--accent-color);
  background: var(--card-bg-color);
  padding: 0px 8px;
  font-size: 0.9rem;
  font-weight: 500;
}

.pill {
  background: var(--accent-color);
  color: var(--card-bg-color);
  border-radius: 15px;
  width: fit-content;
  padding: 1px 8px;
  font-size: 0.8rem;
  margin: 4px 6px 4px 0;
  display: inline-block;
  transition: .5s ease;
}

.pill:hover {
  transform: scale(1.3);
}

::selection {
  background: var(--accent-color);
  color: var(--card-bg-color);
}

/* ///////////////////// Card Styles ///////////////////// */
.cards-stack {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.card {
  position: relative;
  overflow: auto;
  height: 400px;
  width: 266px;
  border-radius: 15px;
  border-bottom: var(--accent-color) 20px solid;
  box-shadow: -14px 14px 6px rgba(0, 0, 0, 0.2);
  margin: 16px auto;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.card:not(.cover-card) {
  background: var(--card-bg-color);
}

.card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  display: block;
}

.card .card-content {
  padding: 15px;
  overflow: auto;
}

.cover-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border: var(--card-bg-color) 1px solid;
  border-bottom: var(--accent-color) 20px solid;
}

.cover-card .banner {
  height: 45%;
  border-radius: 15px 15px 0 0;
}

.cover-card .cover-content {
  height: 55%;
  width: 100%;
  padding: 30px 20px;
  background: var(--card-bg-color);
}


.cover-card img {
  margin: auto;
  display: block;
  position: relative;
  top: 20px;
  width: 120px;
  z-index: 10;
}

.watermark {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 0.7rem;
  margin: 0;
}